.idea/.gitignore
.idea/DevOpsExperts.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
/WorldOfGames/.idea/
/WorldOfGames/__pycache__/GuessGame.cpython-310.pyc
/WorldOfGames/__pycache__/Live.cpython-310.pyc
/WorldOfGames/__pycache__/MainGame.cpython-310.pyc
/WorldOfGames/__pycache__/MemoryGame.cpython-310.pyc
/WorldOfGames/__pycache__/MemoryGame.cpython-38.pyc